---
layout: default
title: Apie
language: lt
nav-order: 2
handle: /about
---
<h1>Apie</h1>

<hr />

<section class="boards">
  <h2 class="title">Niujorko Amerikos lietuvių bendruomenės kopirmininkai:</h2>

  <ul>
    {% for member in site.data.co-chairs %}
      <li>
        <strong>{{ member.name }}</strong> - <a href="mailto:{{ member.email }}">{{ member.email }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="title">Bendruomenės pirmininkai:</h2>

  <ul>
    {% for member in site.data.board %}
      <li>
        <strong>{{ member.name }}</strong> - <a href="mailto:{{ member.email }}">{{ member.email }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
