---
layout: default
title: Namai
language: lt
nav-order: 1
---
{% assign translations=site.data.general["lt"] %}
<h1>{{ translations.home_welcome_text }}</h1>

<hr />

<h2 class="title">{{ translations.subscribe_bar_title }}</h2>
<section class="mailing-list">
	<input type="email" placeholder="{{ translations.subscribe_input_placeholder }}" />
	<button>{{ translations.subscribe_cta }}</button>
</section>

<hr />

<h2 class="title">{{ translations.useful_links }}</h2>
<section class="reference-list">
	{% for item in site.data.references["lt"] %}
		<article>
			<img src="../assets/images/{{ item.image }}" alt="">
			<span>
				<h2>{{ item.name }}</h2>
				{% if item.facebook %}
					<a href="{{ item.facebook }}" target="_blank" rel="noopener noreferrer">Facebook</a>
				{% endif %}
				{% if item.website %}
					<a href="{{ item.website }}" target="_blank" rel="noopener noreferrer">{{ translations.website }}</a>
				{% endif %}
				{% if item.address %}
					<a href="{{ item.address }}" target="_blank" rel="noopener noreferrer">Google Maps</a>
				{% endif %}
			</span>
		</article>
	{% endfor %}
</section>

<hr />
