@import "variables";

section.reference-list {
  article {
    background-color: $light-gray;
    padding: 10px;
    margin: 10px 0px;
    border-right: 3px solid $accent-color;
    display: flex;
    align-items: center;

    h2 {
      margin: 0 0 5px 0;
      font-weight: 300;

      @media screen and (max-width: $container-width) {
        font-size: 20px;
      }
    }

    a {
      margin-right: 10px;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

section.mailing-list {
  display: flex;
  justify-content: center;

  button {
    background-color: $accent-color;
    font-family: 'Lora', serif;
    font-size: 14px;
    border: none;
    color: white;
    padding: 10px;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  input {
    border: none;
    padding: 10px;
    font-size: 14px;
    box-shadow: inset 0px -1px 0px $light-gray;
    font-family: 'Lora', serif;
    width: 50%;
    transition: 0.2s;

    &:focus {
      outline: none;
      box-shadow: inset 0px -1px 0px $accent-color;
    }
  }

}
